# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/nextjs-version-deprecated/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


# testing
/nextjs-version-deprecated/coverage


# next.js
/nextjs-version-deprecated/.next/
/nextjs-version-deprecated/out/


# production
/nextjs-version-deprecated/build


# misc
.DS_Store
*.pem
/nextjs-version-deprecated/.DS_Store


# debug
nextjs-version-deprecated/npm-debug.log*
nextjs-version-deprecated/yarn-debug.log*
nextjs-version-deprecated/yarn-error.log*
nextjs-version-deprecated/.pnpm-debug.log*


# env files (can opt-in for committing if needed)
/nextjs-version-deprecated/.env*


# vercel
/nextjs-version-deprecated/.vercel


# typescript
/nextjs-version-deprecated/*.tsbuildinfo
nextjs-version-deprecated/dev.db
next-env.d.ts

/lib/generated/prisma

/generated/prisma
